#cloud, a:link{
    text-decoration: none;
    opacity: .5;
    z-index: -1;
}

#video{
    position: absolute;
    left: 10%;
    top: 10%;
    align: center;
    z-index: 0;
    float: right;

}

.boldwords {
    font-weight: 900;
    font-size: 150%;
    opacity: .8;
}

